
#images{
	width : 200px;
	height: 200px;
	position:absolute;
	border-width: 3px;
    border-style: solid;
    border-color: black;
    left: 750px;
    top : 200px;
	background-color: #00FFFF ;
	
}
#level {
	width : 200px;
	height: 100px;
	position:absolute;
	border-width: 3px;
    border-style: solid;
    border-color: black;
    left: 750px;
    top : 430px;
    background-color: white;
}

body {
	background-color: #E8E8E8  ;
}

#drawingarea{
	width:600px;
	height:600px;
	position:absolute;
	border-width: 5px;
    border-style: solid;
    left :40px;
    top : 40px;
    border-color: black;
	background-color: white;
}

#container{
	width:1000px;
	height:700px;
	position:absolute;
	border-width: 5px;
    border-style: solid;
    border-color: black;
	background-color: #E9CFEC ;
}


